
hr {
    background-color: dimgray;
    height: 5px;
}

#font {
    font-family: Tahoma, serif;
}

.head-container {
    text-align: center;
    font-family: Tahoma, serif;
}

.sub-text {
    font-size: x-large;
    color: black;
    font-weight: bold;
}

.title {
    font-size: 38px;
    color: red;
    font-weight: bold;
    text-decoration: underline;
}

.undertitle {
    font-size: large;
    color: dimgrey;
    font-style: italic;
}

.font-weight {
    font-weight: bold;
}


.logo {
    margin-top: 20px;
    width: 200px;
    height: 200px;
}

.headlines {
    font-size: xx-large;
    color: darkred;
    font-weight: bold;
    text-decoration: underline;
}

.thClubStat {
    font-size: 16px;
    font-weight: bold;
    font-family: Consolas;
    text-align: left;
}

table, td, th {
    border: 3px solid black;
    border-collapse: collapse;
    font-family: Arial, serif;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px
}

table td:first-child {
    text-align: center
}

tr:hover {
    background-color: lightgray;
}

th {
    background-color: lightgrey;
    text-align: center;
    color: firebrick;
    font-size: larger
}

td:nth-child(2) {
    font-style: italic
}

td:nth-child(4) {
    text-align: center
}

.coach-team {
    font-family: Arial, serif;
    font-size: larger;
    font-weight: bold
}

.main-table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: Arial, serif;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px
}
.main-table td:first-child {
    text-align: left;
    font-weight: bold;
}

.date {
    margin-left: 1650px;
}

.main-text {
    font-size: 22px;
    font-family: Consolas;
}

.table-club-stat {

}