
hr {
    background-color: dimgray;
    height: 5px;
}

#font {
    font-family: Tahoma, serif;
}

.head-container {
    text-align: center;
    font-family: Tahoma, serif;
}

.sub-text {
    font-size: x-large;
    color: black;
    font-weight: bold;
}

.title {
    font-size: 38px;
    color: red;
    font-weight: bold;
    text-decoration: underline;
}

.undertitle {
    font-size: large;
    color: dimgrey;
    font-style: italic;
}

.font-weight {
    font-weight: bold;
}


.logo {
    margin-top: 20px;
    width: 200px;
    height: 200px;
}

.headlines {
    font-size: xx-large;
    color: darkred;
    font-weight: bold;
    text-decoration: underline;
}





table {
    font-family: Consolas;

}

.table-headlines {
    font-family: Arial, serif;
    font-size: x-large;
    font-weight: bold
}

.date {
    margin-left: 1650px;
}

.main-text {
    font-size: 22px;
    font-family: Consolas;
}

table {
    border-collapse: collapse;
    text-align: center;

}
th {
    background: #FA8072;
    color: whitesmoke;
    text-shadow: 0 2px 2px #2D2020;
    padding: 10px 20px;
    font-size: x-large;
}

th, td {
    border-style: solid;
    border-width: 0 2px 2px 0;
    border-color: white;
}
th:first-child {
    border-top-left-radius: 20px;
}

th:last-child {
    border-top-right-radius: 20px;
    border-right: none;

}
tr:last-child td:first-child {
    border-radius: 0 0 0 20px;


}
tr:last-child td:last-child {
    border-radius: 0 0 20px 0;

}
tr td:last-child {
    border-right: none;
}

td {
    padding: 3px 15px;
    font-size: 18px;
    background: #F8E391;
}

td:first-child {
    text-align: left;
    font-weight: bold;
}

